
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

input{

    border-style: solid;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    font-weight: bold;
}


input:hover{


    background-color: rgb(216, 216, 216);
}



#calculate-button:hover{

    background-color: darkgray;
}

#calculate-button:active{

    background-color: rgb(7, 172, 109);
}

select{

    border-style: none;
    height: 25px;
    font-weight: bold;
    font-size: 20px;
    
}

#calculate-button{

    background-color: cornflowerblue;
    color: white;
    border-style: solid;
    border-radius: 100px;
    height: 50px;
    width: 100px;
    font-weight: bold;
    margin-left: 20px;
}




.display-container{

    
    height: 100px;
    width: 300px;
    margin-top: 30px;
    text-align: center;

}


span{
    
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
   
}







